name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Gradle Environment
        uses: ./.github/actions/setup-gradle-env

      - name: Build (without tests)
        run: ./gradlew clean build -x test